<a href="https://colab.research.google.com/github/taka7peace/Ramain_derivery_analysis/blob/main/Ramain_delivery2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Ramain_delivery2

Main: Build an analysis system and ML model

#Build an analysis system

Reporting measures were implemented based on data through June. Then the data for July was updated and we are planning to implement the reporting again. At the same time, I would also like to see if the measures we took with the data up to June were effective. 
Therefore, I  will try to create a small system that can implement a system where data is updated and can be compared with the previous month. First, I will consider the structure of folders

##Let's Generate Basic Folders

In [ ]:
import os
data_dir = 'data'
input_dir = os.path.join(data_dir, '0_input')
output_dir = os.path.join(data_dir, '1_output')
master_dir = os.path.join(data_dir, '99_master')
os.makedirs(input_dir,exist_ok=True)
os.makedirs(output_dir,exist_ok=True)
os.makedirs(master_dir,exist_ok=True)

In [ ]:
os.listdir(input_dir)

['tbl_order_201909.csv',
 'tbl_order_201904.csv',
 'tbl_order_202007.csv',
 'tbl_order_201912.csv',
 'tbl_order_201910.csv',
 '.ipynb_checkpoints',
 'tbl_order_202006.csv',
 'tbl_order_202004.csv',
 'tbl_order_201905.csv',
 'tbl_order_201911.csv',
 'tbl_order_202003.csv',
 'tbl_order_202002.csv',
 'tbl_order_201906.csv',
 'tbl_order_201908.csv',
 'ml_base_data.csv',
 'tbl_order_201907.csv',
 'tbl_order_202001.csv',
 'tbl_order_202005.csv']

In [ ]:
import glob
tbl_order_file = os.path.join(input_dir, 'tbl_order_*.csv')
tbl_order_paths = glob.glob(tbl_order_file)
tbl_order_paths

['data/0_input/tbl_order_201909.csv',
 'data/0_input/tbl_order_201904.csv',
 'data/0_input/tbl_order_202007.csv',
 'data/0_input/tbl_order_201912.csv',
 'data/0_input/tbl_order_201910.csv',
 'data/0_input/tbl_order_202006.csv',
 'data/0_input/tbl_order_202004.csv',
 'data/0_input/tbl_order_201905.csv',
 'data/0_input/tbl_order_201911.csv',
 'data/0_input/tbl_order_202003.csv',
 'data/0_input/tbl_order_202002.csv',
 'data/0_input/tbl_order_201906.csv',
 'data/0_input/tbl_order_201908.csv',
 'data/0_input/tbl_order_201907.csv',
 'data/0_input/tbl_order_202001.csv',
 'data/0_input/tbl_order_202005.csv']

In [ ]:
import pandas as pd
m_area_file = 'm_area.csv'
m_store_file = 'm_store.csv'
m_area = pd.read_csv(os.path.join(master_dir, m_area_file))
m_store = pd.read_csv(os.path.join(master_dir, m_store_file))
m_area.head(3)

  area_cd wide_area narrow_area
0      TK        東京          東京
1      KN       神奈川         神奈川
2      CH        千葉          千葉

In [ ]:
import glob
tbl_order_files = glob.glob(tbl_order_file)
tbl_order_files

['data/0_input/tbl_order_201909.csv',
 'data/0_input/tbl_order_201904.csv',
 'data/0_input/tbl_order_202007.csv',
 'data/0_input/tbl_order_201912.csv',
 'data/0_input/tbl_order_201910.csv',
 'data/0_input/tbl_order_202006.csv',
 'data/0_input/tbl_order_202004.csv',
 'data/0_input/tbl_order_201905.csv',
 'data/0_input/tbl_order_201911.csv',
 'data/0_input/tbl_order_202003.csv',
 'data/0_input/tbl_order_202002.csv',
 'data/0_input/tbl_order_201906.csv',
 'data/0_input/tbl_order_201908.csv',
 'data/0_input/tbl_order_201907.csv',
 'data/0_input/tbl_order_202001.csv',
 'data/0_input/tbl_order_202005.csv']

In [ ]:
order_all = pd.DataFrame()
for file in tbl_order_files:
    order_data = pd.read_csv(file)
    print(f'{file}:{len(order_data)}')
    order_all = pd.concat([order_all, order_data], ignore_index=True)

data/0_input/tbl_order_201909.csv:233215
data/0_input/tbl_order_201904.csv:233393
data/0_input/tbl_order_202007.csv:241084
data/0_input/tbl_order_201912.csv:241052
data/0_input/tbl_order_201910.csv:241060
data/0_input/tbl_order_202006.csv:233301
data/0_input/tbl_order_202004.csv:233260
data/0_input/tbl_order_201905.csv:241041
data/0_input/tbl_order_201911.csv:233191
data/0_input/tbl_order_202003.csv:241087
data/0_input/tbl_order_202002.csv:225564
data/0_input/tbl_order_201906.csv:233295
data/0_input/tbl_order_201908.csv:241122
data/0_input/tbl_order_201907.csv:240976
data/0_input/tbl_order_202001.csv:241049
data/0_input/tbl_order_202005.csv:241139

In [ ]:
order_data = order_data.loc[order_data['store_id'] != 999]

order_data = pd.merge(order_data, m_store, on='store_id', how='left')
order_data = pd.merge(order_data, m_area, on='area_cd', how='left')

order_data.loc[order_data['takeout_flag'] == 0, 'takeout_name'] = 'Delivery'
order_data.loc[order_data['takeout_flag'] == 1, 'takeout_name'] = 'Take Out'

order_data.loc[order_data['status'] == 0, 'status_name'] = 'Reception'
order_data.loc[order_data['status'] == 1, 'status_name'] = 'Payment Completed'
order_data.loc[order_data['status'] == 2, 'status_name'] = 'Delivered'
order_data.loc[order_data['status'] == 9, 'status_name'] = 'Cancelation'
order_data.head(3)

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status,store_name,area_cd,wide_area,narrow_area,takeout_name,status_name
0,24742472,22,C90731046,22,80308413,2020-05-01 11:00:00,2020-05-01 11:22:00,1,2328,1,国立店,TK,東京,東京,Take Out,Payment Completed
1,11342919,56,C68678177,12,35725624,2020-05-01 11:00:00,2020-05-01 11:50:00,0,2987,2,神田店,TK,東京,東京,Delivery,Delivered
2,76451864,56,C79630016,46,2609869,2020-05-01 11:00:00,2020-05-01 11:32:00,0,2603,2,神田店,TK,東京,東京,Delivery,Delivered

In [ ]:
tbl_order_path = tbl_order_paths[0]
print(f'Data to be read：{tbl_order_path}')
order_data = pd.read_csv(tbl_order_path)
print(f'Number of data：{len(order_data)}')
order_data.head(3)

Data to be read：data/0_input/tbl_order_201909.csv
Number of data：233215

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status
0,26954193,136,C90132697,75,18638720,2019-09-01 11:00:00,2019-09-01 11:58:00,1,4744,1
1,81762210,110,C31403642,19,25746421,2019-09-01 11:00:00,2019-09-01 11:24:00,1,3865,1
2,81927369,193,C69724796,78,62032289,2019-09-01 11:00:00,2019-09-01 11:45:00,0,3042,2

##Let's Create a Checking Mechanism for Input Data

In [ ]:
tg_ym = "202007"
target_file = "tbl_order_" + tg_ym + ".csv"
target_data = pd.read_csv(os.path.join(input_dir, target_file))

In [ ]:
import datetime
max_date = pd.to_datetime(target_data["order_accept_date"]).max()
min_date = pd.to_datetime(target_data["order_accept_date"]).min()
max_str_date = max_date.strftime("%Y%m")
min_str_date = min_date.strftime("%Y%m")
if tg_ym == min_str_date and tg_ym == max_str_date:
    print("Date matched")
else:
    raise Exception("Date does not match")

Date matched

In [ ]:
def calc_delta(t):
    t1, t2 = t
    delta = t2 - t1
    return delta.total_seconds()/60

def init_tran_df(trg_df):
    # 保守用店舗データの削除
    trg_df = trg_df.loc[trg_df['store_id'] != 999]

    trg_df = pd.merge(trg_df, m_store, on='store_id', how='left')
    trg_df = pd.merge(trg_df, m_area, on='area_cd', how='left')

    # マスターにないコードに対応した文字列を設定
    trg_df.loc[trg_df['takeout_flag'] == 0, 'takeout_name'] = 'Delivery'
    trg_df.loc[trg_df['takeout_flag'] == 1, 'takeout_name'] = 'Take Out'

    trg_df.loc[trg_df['status'] == 0, 'status_name'] = 'Reception'
    trg_df.loc[trg_df['status'] == 1, 'status_name'] = 'Payment Completed'
    trg_df.loc[trg_df['status'] == 2, 'status_name'] = 'Delivered'
    trg_df.loc[trg_df['status'] == 9, 'status_name'] = 'Cancelation'

    trg_df.loc[:,'order_date'] = pd.to_datetime(trg_df['order_accept_date']).dt.date

    # 配達までの時間を計算
    trg_df.loc[:,'order_accept_datetime'] = pd.to_datetime(trg_df['order_accept_date'])
    trg_df.loc[:,'delivered_datetime'] = pd.to_datetime(trg_df['delivered_date'])
    trg_df.loc[:,'delta'] = trg_df[['order_accept_datetime', 'delivered_datetime']].apply(calc_delta, axis=1)
    
    return trg_df
    
# 当月分を初期化
target_data = init_tran_df(target_data)

##Let's make reporting (for headquarters) into a function

In [ ]:
import openpyxl
from openpyxl.utils.dataframe import dataframe_to_rows
from openpyxl.styles import PatternFill, Border, Side, Font

def get_rank_df(target_data):
    # 店舗のデータ作成、ランキングDFの返却
    tmp = target_data.loc[target_data['status'].isin([1, 2])]
    rank = tmp.groupby(['store_id'])['total_amount'].sum().sort_values(ascending=False)
    rank = pd.merge(rank, m_store, on='store_id', how='left')
    
    return rank

In [ ]:
def get_cancel_rank_df(target_data):
    # キャンセル率の計算、ランキングDFの返却
    cancel_df = pd.DataFrame()
    cancel_cnt = target_data.loc[target_data['status']==9].groupby(['store_id'])['store_id'].count()
    order_cnt = target_data.loc[target_data['status'].isin([1, 2, 9])].groupby(['store_id'])['store_id'].count()
    cancel_rate = (cancel_cnt / order_cnt) * 100
    cancel_df['cancel_rate'] = cancel_rate
    cancel_df = pd.merge(cancel_df, m_store, on='store_id', how='left')
    cancel_df = cancel_df.sort_values('cancel_rate', ascending=True)
    
    return cancel_df

In [ ]:
def data_export(df, ws, row_start, col_start):
    # スタイル定義
    side = Side(style='thin', color='008080')
    border = Border(top=side, bottom=side, left=side, right=side)
    
    rows = dataframe_to_rows(df, index=False, header=True)
    
    for row_no, row in enumerate(rows, row_start):
        for col_no, value in enumerate(row, col_start):
            cell = ws.cell(row_no, col_no)
            cell.value = value
            cell.border = border
            if row_no == row_start:
                cell.fill = PatternFill(patternType='solid', fgColor='008080')
                cell.font = Font(bold=True, color='FFFFFF')

In [ ]:
# 本部向けレポーティングデータ処理
def make_report_hq(target_data, output_folder):
    rank = get_rank_df(target_data)
    cancel_rank = get_cancel_rank_df(target_data)
            
    # Excel出力処理
    wb = openpyxl.Workbook()
    ws = wb.active
    ws.title = 'Summary Report (for Headquarters)'
    
    cell = ws.cell(1,1)
    cell.value = f'Dear Headquarters {max_str_date}Monthly Summary Report'
    cell.font = Font(bold=True, color='008080', size=20)
    
    cell = ws.cell(3,2)
    cell.value = f'{max_str_date}Monthly Total Sales'
    cell.font = Font(bold=True, color='008080', size=20)
    
    cell = ws.cell(3,6)
    cell.value = f"{'{:,}'.format(rank['total_amount'].sum())}"
    cell.font = Font(bold=True, color='008080', size=20)
    
    # 売上ランキングを直接出力
    cell = ws.cell(5,2)
    cell.value = f'Sales Ranking'
    cell.font = Font(bold=True, color='008080', size=16)

    # 表の貼り付け
    data_export(rank, ws, 6, 2)
        
    # キャンセル率ランキングを直接出力
    cell = ws.cell(5,8)
    cell.value = f'Cancellation Rate Ranking'
    cell.font = Font(bold=True, color='008080', size=16)
    
    # 表の貼り付け位置
    data_export(cancel_rank, ws, 6, 8)
    
    wb.save(os.path.join(output_folder, f'report_hq_{max_str_date}.xlsx'))
    wb.close()

##Let's make reporting (for stores) into a function

In [ ]:
def get_store_rank(target_id, target_df):
    rank = get_rank_df(target_df)
    store_rank = rank.loc[rank['store_id']==target_id].index + 1
    
    return store_rank[0]

def get_store_sale(target_id, target_df):
    rank = get_rank_df(target_df)
    store_sale = rank.loc[rank['store_id']==target_id]['total_amount']
    
    return store_sale

In [ ]:
def get_store_cancel_rank(target_id, target_df):
    cancel_df = get_cancel_rank_df(target_df)
    cancel_df = cancel_df.reset_index()
    store_cancel_rank = cancel_df.loc[cancel_df['store_id']==target_id].index + 1
    
    return store_cancel_rank[0]

def get_store_cancel_count(target_id, target_df):
    store_cancel_count = target_df.loc[(target_df['status']==9) & (target_df['store_id']==target_id)].groupby(['store_id'])['store_id'].count()
    return store_cancel_count

In [ ]:
def get_delivery_rank_df(target_id, target_df):
    delivery = target_df.loc[target_df['status'] == 2]
    delivery_rank = delivery.groupby(['store_id'])['delta'].mean().sort_values()
    delivery_rank = pd.merge(delivery_rank, m_store, on='store_id', how='left')
    
    return delivery_rank

def get_delivery_rank_store(target_id, target_df):
    delivery_rank = get_delivery_rank_df(target_id, target_df)
    store_delivery_rank =  delivery_rank.loc[delivery_rank['store_id']==target_id].index + 1
    
    return store_delivery_rank[0]

In [ ]:
# 店舗向けレポーティングデータ処理
def make_report_store(target_data, target_id, output_folder):
    rank = get_store_rank(target_id, target_data)
    sale = get_store_sale(target_id, target_data)
    cancel_rank = get_store_cancel_rank(target_id, target_data)
    cancel_count = get_store_cancel_count(target_id, target_data)
    delivery_df = get_delivery_rank_df(target_id, target_data)
    delivery_rank = get_delivery_rank_store(target_id, target_data)
        
    store_name = m_store.loc[m_store['store_id'] == target_id]['store_name'].values[0]
        
    # Excel出力処理
    wb = openpyxl.Workbook()
    ws = wb.active
    ws.title = 'Reporting for Stores'
        
    cell = ws.cell(1,1)
    cell.value = f'{store_name} {max_str_date}Monthly Summary Report'
    cell.font = Font(bold=True, color='008080', size=20)
    
    cell = ws.cell(3,2)
    cell.value = f'{max_str_date}Monthly Total Sales'
    cell.font = Font(bold=True, color='008080', size=20)
    
    cell = ws.cell(3,6)
    cell.value = f"{'{:,}'.format(sale.values[0])}"
    cell.font = Font(bold=True, color='008080', size=20)
    
    # 売上ランキングを直接出力
    cell = ws.cell(5,2)
    cell.value = f'Sales Ranking'
    cell.font = Font(bold=True, color='008080', size=16)

    cell = ws.cell(5,5)
    cell.value = f'{rank}rank'
    cell.font = Font(bold=True, color='008080', size=16)
    
    cell = ws.cell(6,2)
    cell.value = f'Sales Data'
    cell.font = Font(bold=True, color='008080', size=16)
    
    # 表の貼り付け
    tmp_df = target_data.loc[(target_data['store_id']==target_id) & (target_data['status'].isin([1, 2]))]
    tmp_df = tmp_df[['order_accept_date','customer_id','total_amount','takeout_name','status_name']]
    data_export(tmp_df, ws, 7, 2)
        
    # キャンセル率ランキングを直接出力
    cell = ws.cell(5,8)
    cell.value = f'Cancellation Rate Ranking'
    cell.font = Font(bold=True, color='008080', size=16)
    
    cell = ws.cell(5,12)
    cell.value = f'{cancel_rank}rank, Cancel: {cancel_count.values[0]}times'
    cell.font = Font(bold=True, color='008080', size=16)
    
    cell = ws.cell(6,8)
    cell.value = f'Cancellation Data'
    cell.font = Font(bold=True, color='008080', size=16)
    
    # 表の貼り付け
    tmp_df = target_data.loc[(target_data['store_id']==target_id) & (target_data['status']==9)]
    tmp_df = tmp_df[['order_accept_date','customer_id','total_amount','takeout_name','status_name']]
    data_export(tmp_df, ws, 7, 8)
    
    # 配達完了までの時間を直接出力
    ave_time = delivery_df.loc[delivery_df['store_id']==target_id]['delta'].values[0]
    cell = ws.cell(5,14)
    cell.value = f'Time to complete delivery ranking'
    cell.font = Font(bold=True, color='008080', size=16)
    
    cell = ws.cell(5,18)    
    cell.value = f'{delivery_rank}rank Avg{ave_time}min'
    cell.font = Font(bold=True, color='008080', size=16)
    
    cell = ws.cell(6,14)
    cell.value = f'Delivery time rank for each store'
    cell.font = Font(bold=True, color='008080', size=16)
    
    # 表の貼り付け
    data_export(delivery_df, ws, 7, 14)
    
    wb.save(os.path.join(output_folder, f'{target_id}_{store_name}_report_{max_str_date}.xlsx'))
    wb.close()

##Let's execute a function and check its operation

In [ ]:
# 本部向けレポート
make_report_hq(target_data, output_dir)

/usr/local/lib/python3.10/dist-packages/openpyxl/workbook/child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

In [ ]:
# 各店舗向けレポート（全店舗実施）
for store_id in m_store.loc[m_store['store_id']!=999]['store_id']:
    make_report_store(target_data, store_id, output_dir)

##Let's create an output folder that can respond to updates

In [ ]:
def make_active_folder(targetYM):
    now = datetime.datetime.now().strftime("%Y%m%d%H%M%S")
    target_output_dir_name = targetYM + "_" + now
    target_output_dir = os.path.join(output_dir, target_output_dir_name)
    os.makedirs(target_output_dir)
    print(target_output_dir_name)
    return target_output_dir
target_output_dir = make_active_folder(tg_ym)

202007_20230518043513

##Let's expand the output folder to output data by prefecture

In [ ]:
# 本部向けレポート（出力先変更）
make_report_hq(target_data, target_output_dir)

/usr/local/lib/python3.10/dist-packages/openpyxl/workbook/child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

In [ ]:
# 各店舗向けレポート（全店舗実施）
for store_id in m_store.loc[m_store['store_id']!=999]['store_id']:
    # narrow_areaのフォルダを作成
    area_cd = m_store.loc[m_store['store_id']==store_id]['area_cd']
    area_name = m_area.loc[m_area['area_cd']==area_cd.values[0]]['narrow_area'].values[0]
    target_store_output_dir = os.path.join(target_output_dir, area_name)
    os.makedirs(target_store_output_dir,exist_ok=True)
    make_report_store(target_data, store_id, target_store_output_dir)

##Dynamically load the previous month's data

In [ ]:
# 本部向けレポーティングデータ処理（過去月データ対応Ver）
def make_report_hq_r2(target_data_list, output_folder):
    # Excel出力処理
    wb = openpyxl.Workbook()

    file_date = ''
    
    for tmp in target_data_list:
        df = pd.DataFrame(tmp)
        
        df_date = pd.to_datetime(df["order_accept_date"]).max()
        trg_date = df_date.strftime("%Y%m")
        
        if file_date == '':
            # 初回のみファイル名用に年月を保持
            file_date = trg_date
        
        rank = get_rank_df(df)
        cancel_rank = get_cancel_rank_df(df)
        
        # ワークシート作成
        ws = wb.create_sheet(title=f'{trg_date}Month')

        cell = ws.cell(1,1)
        cell.value = f'Dear Headquarters {trg_date}Monthly Summary Report'
        cell.font = Font(bold=True, color='008080', size=20)

        cell = ws.cell(3,2)
        cell.value = f'{max_str_date}Monthly Total Sales Amount'
        cell.font = Font(bold=True, color='008080', size=20)

        cell = ws.cell(3,6)
        cell.value = f"{'{:,}'.format(rank['total_amount'].sum())}"
        cell.font = Font(bold=True, color='008080', size=20)

        # 売上ランキングを直接出力
        cell = ws.cell(5,2)
        cell.value = f'Sales Ranking'
        cell.font = Font(bold=True, color='008080', size=16)

        # 表の貼り付け
        data_export(rank, ws, 6, 2)

        # キャンセル率ランキングを直接出力
        cell = ws.cell(5,8)
        cell.value = f'Cancelation Rate Ranking'
        cell.font = Font(bold=True, color='008080', size=16)

        # 表の貼り付け位置
        data_export(cancel_rank, ws, 6, 8)
        
    
    # デフォルトシートは削除
    wb.remove(wb.worksheets[0])
    
    # DFループが終わったらブックを保存        
    wb.save(os.path.join(output_folder, f'report_hq_{file_date}.xlsx'))
    wb.close()

In [ ]:
# 店舗向けレポーティングデータ処理（過去月データ対応Ver）
def make_report_store_r2(target_data_list, target_id, output_folder):
     # Excel出力処理
    wb = openpyxl.Workbook()

    file_date = ''
    
    for tmp in target_data_list:
        df = pd.DataFrame(tmp)
        
        df_date = pd.to_datetime(df["order_accept_date"]).max()
        trg_date = df_date.strftime("%Y%m")
    
        if file_date == '':
            # 初回のみファイル名用に年月を保持
            file_date = trg_date
            
        rank = get_store_rank(target_id, df)
        sale = get_store_sale(target_id, df)
        cancel_rank = get_store_cancel_rank(target_id, df)
        cancel_count = get_store_cancel_count(target_id, df)
        delivery_df = get_delivery_rank_df(target_id, df)
        delivery_rank = get_delivery_rank_store(target_id, df)

        store_name = m_store.loc[m_store['store_id'] == target_id]['store_name'].values[0]
        
        # ワークシート作成
        ws = wb.create_sheet(title=f'{trg_date}Month')

        # Excel出力処理
        cell = ws.cell(1,1)
        cell.value = f'{store_name} {max_str_date}Monthly Summary Report'
        cell.font = Font(bold=True, color='008080', size=20)

        cell = ws.cell(3,2)
        cell.value = f'{max_str_date}Monthly Total Sales'
        cell.font = Font(bold=True, color='008080', size=20)

        cell = ws.cell(3,6)
        cell.value = f"{'{:,}'.format(sale.values[0])}"
        cell.font = Font(bold=True, color='008080', size=20)

        # 売上ランキングを直接出力
        cell = ws.cell(5,2)
        cell.value = f'Sales Ranking'
        cell.font = Font(bold=True, color='008080', size=16)

        cell = ws.cell(5,5)
        cell.value = f'{rank}rank'
        cell.font = Font(bold=True, color='008080', size=16)

        cell = ws.cell(6,2)
        cell.value = f'Sales Data'
        cell.font = Font(bold=True, color='008080', size=16)

        # 表の貼り付け
        tmp_df = df.loc[(df['store_id']==target_id) & (df['status'].isin([1, 2]))]
        tmp_df = tmp_df[['order_accept_date','customer_id','total_amount','takeout_name','status_name']]
        data_export(tmp_df, ws, 7, 2)

        # キャンセル率ランキングを直接出力
        cell = ws.cell(5,8)
        cell.value = f'Cancellation Rate Ranking'
        cell.font = Font(bold=True, color='008080', size=16)

        cell = ws.cell(5,12)
        cell.value = f'{cancel_rank}rank {cancel_count.values[0]}times'
        cell.font = Font(bold=True, color='008080', size=16)

        cell = ws.cell(6,8)
        cell.value = f'Cancellation Data'
        cell.font = Font(bold=True, color='008080', size=16)

        # 表の貼り付け
        tmp_df = df.loc[(df['store_id']==target_id) & (df['status']==9)]
        tmp_df = tmp_df[['order_accept_date','customer_id','total_amount','takeout_name','status_name']]
        data_export(tmp_df, ws, 7, 8)

        # 配達完了までの時間を直接出力
        ave_time = delivery_df.loc[delivery_df['store_id']==target_id]['delta'].values[0]
        cell = ws.cell(5,14)
        cell.value = f'Time to complete delivery ranking'
        cell.font = Font(bold=True, color='008080', size=16)

        cell = ws.cell(5,18)    
        cell.value = f'{delivery_rank}rank Avg{ave_time}min'
        cell.font = Font(bold=True, color='008080', size=16)

        cell = ws.cell(6,14)
        cell.value = f'Delivery Time Rank for Each Store'
        cell.font = Font(bold=True, color='008080', size=16)

        # 表の貼り付け
        data_export(delivery_df, ws, 7, 14)
    
    # デフォルトシートは削除
    wb.remove(wb.worksheets[0])
    
    # DFループが終わったらブックを保存    
    wb.save(os.path.join(output_folder, f'{target_id}_{store_name}_report_{file_date}.xlsx'))
    wb.close()

##Let's run the function and compare with the past data.

In [ ]:
# 自動的に指定年月の-1ヵ月のデータを読み込み、配列に格納する
tg_ym_old = str(int(tg_ym) - 1)
target_file = "tbl_order_" + tg_ym_old + ".csv"
target_data_old = pd.read_csv(os.path.join(input_dir, target_file))

# 過去分を初期化
target_data_old = init_tran_df(target_data_old)

df_array = [target_data, target_data_old]

In [ ]:
# フォルダの動的生成
target_output_dir = make_active_folder(tg_ym)
# 本部向けレポートR2を呼ぶ
make_report_hq_r2(df_array, target_output_dir)

202007_20230518043800

In [ ]:
# 各店舗向けレポート（全店舗実施）
for store_id in m_store.loc[m_store['store_id']!=999]['store_id']:
    # narrow_areaのフォルダを作成
    area_cd = m_store.loc[m_store['store_id']==store_id]['area_cd']
    area_name = m_area.loc[m_area['area_cd']==area_cd.values[0]]['narrow_area'].values[0]
    target_store_output_dir = os.path.join(target_output_dir, area_name)
    os.makedirs(target_store_output_dir,exist_ok=True)
    make_report_store_r2(df_array, store_id, target_store_output_dir)

##Let's make it possible to execute from the screen.

In [ ]:
from IPython.display import display, clear_output
from ipywidgets import DatePicker
import datetime

def order_by_date(val):
    clear_output()
    display(date_picker)
        
    df_array = []
    
    print('Data Check, Data Processing・・・')
        
    date_str = str(val['new'])
    date_dt = datetime.datetime.strptime(date_str, '%Y-%m-%d')
    target_ym = date_dt.strftime('%Y%m')
    
    # フォルダの動的生成
    target_output_dir = make_active_folder(target_ym)

    # 選択された基準月のデータ確認
    target_file = "tbl_order_" + target_ym + ".csv"
    if os.path.exists(os.path.join(input_dir, target_file)) == False:
        print(f'{target_file}does not exist')
        return
    else:
        # データの読み込み
        df = pd.read_csv(os.path.join(input_dir, target_file))
        df =init_tran_df(df)
        df_array.append(df)
    
    # 選択された基準付きの１月前があるか確認
    target_ym_old = str(int(target_ym) - 1)
    target_file = "tbl_order_" + target_ym_old + ".csv"
    if os.path.exists(os.path.join(input_dir, target_file)) == True:
        # データがある場合のみ
        df = pd.read_csv(os.path.join(input_dir, target_file))
        df =init_tran_df(df)
        df_array.append(df)
    
    print('Data preparation complete, reporting output started・・・')
    
    # 本部向けレポートR2を呼ぶ
    make_report_hq_r2(df_array, target_output_dir)
    
    print('Management report output completed; reporting output for each store started・・・')
    # 各店舗向けレポート（全店舗実施）
    for store_id in m_store.loc[m_store['store_id']!=999]['store_id']:
        # narrow_areaのフォルダを作成
        area_cd = m_store.loc[m_store['store_id']==store_id]['area_cd']
        area_name = m_area.loc[m_area['area_cd']==area_cd.values[0]]['narrow_area'].values[0]
        target_store_output_dir = os.path.join(target_output_dir, area_name)
        os.makedirs(target_store_output_dir,exist_ok=True)
        make_report_store_r2(df_array, store_id, target_store_output_dir)
    
    print('Processing completed')
    
date_picker = DatePicker(value=datetime.datetime(2020, 4, 1))
date_picker.observe(order_by_date, names='value')
print('After copying the data to the 0_input folder, please select the base month.')
display(date_picker)

After copying the data to the 0_input folder, please select the base month.

DatePicker(value=datetime.datetime(2020, 4, 1, 0, 0))

In [ ]:
import pandas as pd
m_area_file = 'm_area.csv'
m_store_file = 'm_store.csv'
m_area = pd.read_csv(os.path.join(master_dir, m_area_file))
m_store = pd.read_csv(os.path.join(master_dir, m_store_file))
m_area.head(10)

  area_cd wide_area narrow_area
0      TK        東京          東京
1      KN       神奈川         神奈川
2      CH        千葉          千葉
3      SA        埼玉          埼玉
4      IB       北関東          茨城
5      TO       北関東          栃木
6      GU       北関東          群馬

In [ ]:
import glob
tbl_order_files = glob.glob(tbl_order_file)
tbl_order_files

['data/0_input/tbl_order_201909.csv',
 'data/0_input/tbl_order_201904.csv',
 'data/0_input/tbl_order_202007.csv',
 'data/0_input/tbl_order_201912.csv',
 'data/0_input/tbl_order_201910.csv',
 'data/0_input/tbl_order_202006.csv',
 'data/0_input/tbl_order_202004.csv',
 'data/0_input/tbl_order_201905.csv',
 'data/0_input/tbl_order_201911.csv',
 'data/0_input/tbl_order_202003.csv',
 'data/0_input/tbl_order_202002.csv',
 'data/0_input/tbl_order_201906.csv',
 'data/0_input/tbl_order_201908.csv',
 'data/0_input/tbl_order_201907.csv',
 'data/0_input/tbl_order_202001.csv',
 'data/0_input/tbl_order_202005.csv']

In [ ]:
order_all = pd.DataFrame()
for file in tbl_order_files:
    order_data = pd.read_csv(file)
    print(f'{file}:{len(order_data)}')
    order_all = pd.concat([order_all, order_data], ignore_index=True)

data/0_input/tbl_order_201909.csv:233215
data/0_input/tbl_order_201904.csv:233393
data/0_input/tbl_order_202007.csv:241084
data/0_input/tbl_order_201912.csv:241052
data/0_input/tbl_order_201910.csv:241060
data/0_input/tbl_order_202006.csv:233301
data/0_input/tbl_order_202004.csv:233260
data/0_input/tbl_order_201905.csv:241041
data/0_input/tbl_order_201911.csv:233191
data/0_input/tbl_order_202003.csv:241087
data/0_input/tbl_order_202002.csv:225564
data/0_input/tbl_order_201906.csv:233295
data/0_input/tbl_order_201908.csv:241122
data/0_input/tbl_order_201907.csv:240976
data/0_input/tbl_order_202001.csv:241049
data/0_input/tbl_order_202005.csv:241139

In [ ]:
order_data = pd.merge(order_data, m_store, on='store_id', how='left')
order_data = pd.merge(order_data, m_area, on='area_cd', how='left')

In [ ]:
order_data = order_data.loc[order_data['store_id'] != 999]

order_data.loc[order_data['takeout_flag'] == 0, 'takeout_name'] = 'Delivery'
order_data.loc[order_data['takeout_flag'] == 1, 'takeout_name'] = 'Take Out'

order_data.loc[order_data['status'] == 0, 'status_name'] = 'Reception'
order_data.loc[order_data['status'] == 1, 'status_name'] = 'Payment Completed'
order_data.loc[order_data['status'] == 2, 'status_name'] = 'Delivered'
order_data.loc[order_data['status'] == 9, 'status_name'] = 'Cancelation'
order_data.head(3)

<ipython-input-35-1f8488da56a0>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  order_data.loc[order_data['takeout_flag'] == 0, 'takeout_name'] = 'Delivery'
<ipython-input-35-1f8488da56a0>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  order_data.loc[order_data['status'] == 0, 'status_name'] = 'Reception'

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status,store_name,area_cd,wide_area,narrow_area,takeout_name,status_name
0,24742472,22,C90731046,22,80308413,2020-05-01 11:00:00,2020-05-01 11:22:00,1,2328,1,国立店,TK,東京,東京,Take Out,Payment Completed
1,11342919,56,C68678177,12,35725624,2020-05-01 11:00:00,2020-05-01 11:50:00,0,2987,2,神田店,TK,東京,東京,Delivery,Delivered
2,76451864,56,C79630016,46,2609869,2020-05-01 11:00:00,2020-05-01 11:32:00,0,2603,2,神田店,TK,東京,東京,Delivery,Delivered

In [ ]:
order_data.isna().sum()

order_id             0
store_id             0
customer_id          0
coupon_cd            0
sales_detail_id      0
order_accept_date    0
delivered_date       0
takeout_flag         0
total_amount         0
status               0
store_name           0
area_cd              0
wide_area            0
narrow_area          0
takeout_name         0
status_name          0
dtype: int64

In [ ]:
order_data.status

0         1
1         2
2         2
3         2
4         2
         ..
241134    1
241135    2
241136    2
241137    2
241138    2
Name: status, Length: 239841, dtype: int64

In [ ]:
def calc_delta(t):
    t1, t2 = t
    delta = t2 - t1
    return delta.total_seconds()/60

order_data.loc[:,'order_accept_datetime'] = pd.to_datetime(order_data['order_accept_date'])
order_data.loc[:,'delivered_datetime'] = pd.to_datetime(order_data['delivered_date'])
order_data.loc[:,'delta'] = order_data[['order_accept_datetime', 'delivered_datetime']].apply(calc_delta, axis=1)
order_data.head(3)

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status,store_name,area_cd,wide_area,narrow_area,takeout_name,status_name,order_accept_datetime,delivered_datetime,delta
0,24742472,22,C90731046,22,80308413,2020-05-01 11:00:00,2020-05-01 11:22:00,1,2328,1,国立店,TK,東京,東京,Take Out,Payment Completed,2020-05-01 11:00:00,2020-05-01 11:22:00,22.0
1,11342919,56,C68678177,12,35725624,2020-05-01 11:00:00,2020-05-01 11:50:00,0,2987,2,神田店,TK,東京,東京,Delivery,Delivered,2020-05-01 11:00:00,2020-05-01 11:50:00,50.0
2,76451864,56,C79630016,46,2609869,2020-05-01 11:00:00,2020-05-01 11:32:00,0,2603,2,神田店,TK,東京,東京,Delivery,Delivered,2020-05-01 11:00:00,2020-05-01 11:32:00,32.0

In [ ]:
order_data.loc[:,'order_accept_hour'] = order_data['order_accept_datetime'].dt.hour
order_data.loc[:,'order_accept_weekday'] = order_data['order_accept_datetime'].dt.weekday
order_data.loc[order_data['order_accept_weekday'] >= 5, 'weekday_info'] = 'Weekend'
order_data.loc[order_data['order_accept_weekday'] < 5, 'weekday_info'] = 'Weekday'
order_data.head(3)

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status,...,wide_area,narrow_area,takeout_name,status_name,order_accept_datetime,delivered_datetime,delta,order_accept_hour,order_accept_weekday,weekday_info
0,24742472,22,C90731046,22,80308413,2020-05-01 11:00:00,2020-05-01 11:22:00,1,2328,1,...,東京,東京,Take Out,Payment Completed,2020-05-01 11:00:00,2020-05-01 11:22:00,22.0,11,4,Weekday
1,11342919,56,C68678177,12,35725624,2020-05-01 11:00:00,2020-05-01 11:50:00,0,2987,2,...,東京,東京,Delivery,Delivered,2020-05-01 11:00:00,2020-05-01 11:50:00,50.0,11,4,Weekday
2,76451864,56,C79630016,46,2609869,2020-05-01 11:00:00,2020-05-01 11:32:00,0,2603,2,...,東京,東京,Delivery,Delivered,2020-05-01 11:00:00,2020-05-01 11:32:00,32.0,11,4,Weekday

In [ ]:
store_data = order_data.groupby(['store_name']).count()[['order_id']]
store_f = order_data.loc[(order_data['status_name']=="Delivered")|
                         (order_data['status_name']=="Payment Completed")].groupby(['store_name']).count()[['order_id']]
store_c = order_data.loc[order_data['status_name']=="Cacelation"].groupby(['store_name']).count()[['order_id']]
store_d = order_data.loc[order_data['takeout_name']=="Delivery"].groupby(['store_name']).count()[['order_id']]
store_t = order_data.loc[order_data['takeout_name']=="Take Out"].groupby(['store_name']).count()[['order_id']]

store_weekday = order_data.loc[order_data['weekday_info']=="Weekday"].groupby(['store_name']).count()[['order_id']]
store_weekend = order_data.loc[order_data['weekday_info']=="Weekend"].groupby(['store_name']).count()[['order_id']]

In [ ]:
times = order_data['order_accept_hour'].unique()
store_time = []
for time in times:
    time_tmp = order_data.loc[order_data['order_accept_hour']==time].groupby(['store_name']).count()[['order_id']]
    time_tmp.columns = [f'order_time_{time}']
    store_time.append(time_tmp)
store_time = pd.concat(store_time, axis=1)
store_time.head(3)

,order_time_11,order_time_12,order_time_13,order_time_14,order_time_15,order_time_16,order_time_17,order_time_18,order_time_19,order_time_20,order_time_21
store_name,,,,,,,,,,,
あきる野店,114,99,112,120,104,100,109,96,107,104,119
さいたま南店,120,143,159,137,151,140,156,123,153,138,123
さいたま緑店,97,86,93,96,109,102,88,102,87,99,102

In [ ]:
store_delta = order_data.loc[(order_data['status_name']!="Cancelation")].groupby(['store_name']).mean()[['delta']]
store_data.columns = ['order']
store_f.columns = ['order_fin']
store_c.columns = ['order_cancel']
store_d.columns = ['order_delivery']
store_t.columns = ['order_takeout']
store_weekday.columns = ['order_weekday']
store_weekend.columns = ['order_weekend']
store_delta.columns = ['delta_avg']
store_data = pd.concat([store_data, store_f, store_c, store_d, store_t, 
                        store_weekday, store_weekend, store_time, store_delta], axis=1)
store_data.head(3)

<ipython-input-42-e245e713fa94>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  store_delta = order_data.loc[(order_data['status_name']!="Cancelation")].groupby(['store_name']).mean()[['delta']]

,order,order_fin,order_cancel,order_delivery,order_takeout,order_weekday,order_weekend,order_time_11,order_time_12,order_time_13,order_time_14,order_time_15,order_time_16,order_time_17,order_time_18,order_time_19,order_time_20,order_time_21,delta_avg
store_name,,,,,,,,,,,,,,,,,,,
あきる野店,1184,959,NaN,882,302,801,383,114,99,112,120,104,100,109,96,107,104,119,34.566215
さいたま南店,1543,1249,NaN,1162,381,1046,497,120,143,159,137,151,140,156,123,153,138,123,34.071257
さいたま緑店,1061,842,NaN,776,285,719,342,97,86,93,96,109,102,88,102,87,99,102,34.099762

#Mid Review 
The rate of improvement has varied from store to store, and I feel that simply reporting the results of the previous month's time to serve Ramen is insufficient information. Therefore, they would like to help store staff by using machine learning to make predictions. I have found that the shorter the time to serve ramen, the lower the cancellation rate tends to be. 
I set the task of shortening the time until the ramen is served. Some stores review their workflow and fix the waste until the ramen is served. We believe that such efforts can be improved by sharing self-help efforts by stores company-wide and by reviewing common flows at headquarters.
In addition, at one store, the store manager reviews the data and reassigns people so that the supply-demand balance is achieved. 

A good store manager will look at past sales and order numbers and think about when the number of orders will increase next month. Based on that projection, he or she skillfully adjusts the shifts of part-time workers to improve ramen serving times while lowering costs. While the ability to draw one's own insights from past data and make predictions like this is a strong part of the human condition, only a limited number of people can do it, and the accuracy of such predictions varies from person to person. The reporting measures in the first part of the report will separate the stores that can utilize the data from those that cannot. Therefore, the model is a supervised learning binary classification model to predict whether the number of orders will increase or decrease in the next month based on data up to the previous month. I believe that creating two models, one for weekdays and one for holidays, will support the consideration of measures to reduce the time required to serve ramen.

#ML

##Data Processing and Aggregation by Store with Functions

The process is simple: define the model, create folders, build the model, evaluate, and output. As in the case of the decision arrival, delat_avg contributes to the gradient boosting, in addition to the weekday/holiday previous month's number of orders relation.

In [ ]:
def data_processing(order_data):
    order_data = order_data.loc[order_data['store_id'] != 999]
    order_data = pd.merge(order_data, m_store, on='store_id', how='left')
    order_data = pd.merge(order_data, m_area, on='area_cd', how='left')
    order_data.loc[order_data['takeout_flag'] == 0, 'takeout_name'] = 'Delivery'
    order_data.loc[order_data['takeout_flag'] == 1, 'takeout_name'] = 'Take Out'
    order_data.loc[order_data['status'] == 0, 'status_name'] = 'Reception'
    order_data.loc[order_data['status'] == 1, 'status_name'] = 'Payment Completed'
    order_data.loc[order_data['status'] == 2, 'status_name'] = 'Delivered'
    order_data.loc[order_data['status'] == 9, 'status_name'] = 'Cancelation'
    
    order_data.loc[:,'order_accept_datetime'] = pd.to_datetime(order_data['order_accept_date'])
    order_data.loc[:,'delivered_datetime'] = pd.to_datetime(order_data['delivered_date'])
    order_data.loc[:,'delta'] = order_data[['order_accept_datetime', 'delivered_datetime']].apply(calc_delta, axis=1)
    order_data.loc[:,'order_accept_hour'] = order_data['order_accept_datetime'].dt.hour
    order_data.loc[:,'order_accept_weekday'] = order_data['order_accept_datetime'].dt.weekday
    order_data.loc[order_data['order_accept_weekday'] >= 5, 'weekday_info'] = 'Weekend'
    order_data.loc[order_data['order_accept_weekday'] < 5, 'weekday_info'] = 'Weekday'
    
    store_data = order_data.groupby(['store_name']).count()[['order_id']]
    store_f = order_data.loc[(order_data['status_name']=="Delivered")|
                             (order_data['status_name']=="Payment Completed")].groupby(['store_name']).count()[['order_id']]
    store_c = order_data.loc[order_data['status_name']=="Cancelation"].groupby(['store_name']).count()[['order_id']]
    store_d = order_data.loc[order_data['takeout_name']=="Delivery"].groupby(['store_name']).count()[['order_id']]
    store_t = order_data.loc[order_data['takeout_name']=="Take Out"].groupby(['store_name']).count()[['order_id']]
    store_weekday = order_data.loc[order_data['weekday_info']=="Weekday"].groupby(['store_name']).count()[['order_id']]
    store_weekend = order_data.loc[order_data['weekday_info']=="Weekend"].groupby(['store_name']).count()[['order_id']]
    times = order_data['order_accept_hour'].unique()
    store_time = []
    for time in times:
        time_tmp = order_data.loc[order_data['order_accept_hour']==time].groupby(['store_name']).count()[['order_id']]
        time_tmp.columns = [f'order_time_{time}']
        store_time.append(time_tmp)
    store_time = pd.concat(store_time, axis=1)
    store_delta = order_data.loc[order_data['status_name']!="Cancelation"].groupby(['store_name']).mean(numeric_only=True)[['delta']]
    store_data.columns = ['order']
    store_f.columns = ['order_fin']
    store_c.columns = ['order_cancel']
    store_d.columns = ['order_delivery']
    store_t.columns = ['order_takeout']
    store_delta.columns = ['delta_avg']
    store_weekday.columns = ['order_weekday']
    store_weekend.columns = ['order_weekend']
    store_data = pd.concat([store_data, store_f, store_c, store_d, store_t, 
                        store_weekday, store_weekend, store_time, store_delta], axis=1)


    return store_data

In [ ]:
tbl_order_path = tbl_order_paths[0]
print(f'Loading Data：{tbl_order_path}')
order_data = pd.read_csv(tbl_order_path)
store_data = data_processing(order_data)
store_data.head(3)

Loading Data：data/0_input/tbl_order_201909.csv

,order,order_fin,order_cancel,order_delivery,order_takeout,order_weekday,order_weekend,order_time_11,order_time_12,order_time_13,order_time_14,order_time_15,order_time_16,order_time_17,order_time_18,order_time_19,order_time_20,order_time_21,delta_avg
store_name,,,,,,,,,,,,,,,,,,,
あきる野店,1149,933,216,855,294,802,347,111,99,84,117,110,105,103,109,109,96,106,34.174705
さいたま南店,1503,1260,243,1115,388,1050,453,138,153,126,145,129,142,128,134,136,127,145,33.911111
さいたま緑店,1029,815,214,745,284,722,307,83,92,90,91,89,89,111,88,81,108,107,33.952147

##Let's try to load all data and process data

In [ ]:
store_all = []
for tbl_order_path in tbl_order_paths:
    print(f'Loading Data：{tbl_order_path}')
    tg_ym = tbl_order_path.split('_')[-1][:6]
    order_data = pd.read_csv(tbl_order_path)
    store_data = data_processing(order_data)
    store_data.loc[:,'year_month'] = tg_ym
    store_data.reset_index(drop=False, inplace=True)
    store_all.append(store_data)
store_all = pd.concat(store_all, ignore_index=True)
display(store_all.head(3))
display(store_all.tail(3))
store_monthly_name = 'store_monthly_data.csv'
store_all.to_csv(os.path.join(output_dir, store_monthly_name), index=False)

Loading Data：data/0_input/tbl_order_201909.csv
Loading Data：data/0_input/tbl_order_201904.csv
Loading Data：data/0_input/tbl_order_202007.csv
Loading Data：data/0_input/tbl_order_201912.csv
Loading Data：data/0_input/tbl_order_201910.csv
Loading Data：data/0_input/tbl_order_202006.csv
Loading Data：data/0_input/tbl_order_202004.csv
Loading Data：data/0_input/tbl_order_201905.csv
Loading Data：data/0_input/tbl_order_201911.csv
Loading Data：data/0_input/tbl_order_202003.csv
Loading Data：data/0_input/tbl_order_202002.csv
Loading Data：data/0_input/tbl_order_201906.csv
Loading Data：data/0_input/tbl_order_201908.csv
Loading Data：data/0_input/tbl_order_201907.csv
Loading Data：data/0_input/tbl_order_202001.csv
Loading Data：data/0_input/tbl_order_202005.csv

,store_name,order,order_fin,order_cancel,order_delivery,order_takeout,order_weekday,order_weekend,order_time_11,order_time_12,...,order_time_14,order_time_15,order_time_16,order_time_17,order_time_18,order_time_19,order_time_20,order_time_21,delta_avg,year_month
0,あきる野店,1149,933,216,855,294,802,347,111,99,...,117,110,105,103,109,109,96,106,34.174705,201909
1,さいたま南店,1503,1260,243,1115,388,1050,453,138,153,...,145,129,142,128,134,136,127,145,33.911111,201909
2,さいたま緑店,1029,815,214,745,284,722,307,83,92,...,91,89,89,111,88,81,108,107,33.952147,201909

,store_name,order,order_fin,order_cancel,order_delivery,order_takeout,order_weekday,order_weekend,order_time_11,order_time_12,...,order_time_14,order_time_15,order_time_16,order_time_17,order_time_18,order_time_19,order_time_20,order_time_21,delta_avg,year_month
3117,鴻巣店,1146,941,205,850,296,781,365,101,98,...,115,100,103,107,100,113,115,88,33.218916,202005
3118,鶴見店,1522,1277,245,1120,402,1033,489,145,123,...,142,143,138,155,134,135,134,134,34.278778,202005
3119,麻生店,1402,1139,263,1034,368,948,454,112,122,...,128,121,126,134,127,140,127,134,34.219491,202005

In [ ]:
y = store_all[['store_name', 'year_month','order_weekday', 'order_weekend']].copy()
y.loc[:,'one_month_ago'] = pd.to_datetime(y['year_month'], format='%Y%m')
from dateutil.relativedelta import relativedelta
y.loc[:,'one_month_ago'] = y['one_month_ago'].map(lambda x: x - relativedelta(months=1))
y.loc[:,'one_month_ago'] = y['one_month_ago'].dt.strftime('%Y%m')
y.head(3)

<ipython-input-46-2fd51daf6785>:4: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  y.loc[:,'one_month_ago'] = y['one_month_ago'].map(lambda x: x - relativedelta(months=1))

  store_name year_month  order_weekday  order_weekend one_month_ago
0      あきる野店     201909            802            347        201908
1     さいたま南店     201909           1050            453        201908
2     さいたま緑店     201909            722            307        201908

In [ ]:
y_one_month_ago = y.copy()
y_one_month_ago.rename(columns={'order_weekday':'order_weekday_one_month_ago', 
                                'order_weekend':'order_weekend_one_month_ago',
                                'year_month':'year_month_for_join'}, inplace=True)
y = pd.merge(y, y_one_month_ago[['store_name', 'year_month_for_join', 
                                 'order_weekday_one_month_ago', 'order_weekend_one_month_ago']], 
                                 left_on=['store_name', 'one_month_ago'], 
                                 right_on=['store_name','year_month_for_join'], how='left')
y.loc[y['store_name']=='あきる野店']

,store_name,year_month,order_weekday,order_weekend,one_month_ago,year_month_for_join,order_weekday_one_month_ago,order_weekend_one_month_ago
0,あきる野店,201909,802,347,201908,201908,835.0,343.0
195,あきる野店,201904,844,303,201903,NaN,NaN,NaN
390,あきる野店,202007,876,303,202006,202006,839.0,308.0
585,あきる野店,201912,844,345,201911,201911,796.0,341.0
780,あきる野店,201910,880,309,201909,201909,802.0,347.0
975,あきる野店,202006,839,308,202005,202005,801.0,383.0
1170,あきる野店,202004,842,305,202003,202003,839.0,347.0
1365,あきる野店,201905,883,302,201904,201904,844.0,303.0
1560,あきる野店,201911,796,341,201910,201910,880.0,309.0
1755,あきる野店,202003,839,347,202002,202002,762.0,344.0
1950,あきる野店,202002,762,344,202001,202001,881.0,305.0
2145,あきる野店,201906,764,384,201905,201905,883.0,302.0
2340,あきる野店,201908,835,343,201907,201907,882.0,308.0
2535,あきる野店,201907,882,308,201906,201906,764.0,384.0
2730,あきる野店,202001,881,305,201912,201912,844.0,345.0
2925,あきる野店,202005,801,383,202004,202004,842.0,305.0

In [ ]:
y.dropna(inplace=True)
y.loc[y['order_weekday'] - y['order_weekday_one_month_ago'] > 0, 'y_weekday'] = 1
y.loc[y['order_weekday'] - y['order_weekday_one_month_ago'] <= 0, 'y_weekday'] = 0
y.loc[y['order_weekend'] - y['order_weekend_one_month_ago'] > 0, 'y_weekend'] = 1
y.loc[y['order_weekend'] - y['order_weekend_one_month_ago'] <= 0, 'y_weekend'] = 0
y.head(3)

,store_name,year_month,order_weekday,order_weekend,one_month_ago,year_month_for_join,order_weekday_one_month_ago,order_weekend_one_month_ago,y_weekday,y_weekend
0,あきる野店,201909,802,347,201908,201908,835.0,343.0,0.0,1.0
1,さいたま南店,201909,1050,453,201908,201908,1101.0,449.0,0.0,1.0
2,さいたま緑店,201909,722,307,201908,201908,759.0,309.0,0.0,0.0

##Let's link explanatory variables and objective variables to finish data for machine learning!

In [ ]:
y.rename(columns={'year_month':'target_year_month'},inplace=True)
y = y[['store_name','target_year_month', 'one_month_ago', 'y_weekday', 'y_weekend']].copy()
ml_data = pd.merge(y, store_all, left_on=['store_name','one_month_ago'],
                   right_on=['store_name','year_month'], how='left')
ml_data.head()

,store_name,target_year_month,one_month_ago,y_weekday,y_weekend,order,order_fin,order_cancel,order_delivery,order_takeout,...,order_time_14,order_time_15,order_time_16,order_time_17,order_time_18,order_time_19,order_time_20,order_time_21,delta_avg,year_month
0,あきる野店,201909,201908,0.0,1.0,1178,967,211,876,302,...,110,115,128,100,121,96,106,102,34.607032,201908
1,さいたま南店,201909,201908,0.0,1.0,1550,1273,277,1148,402,...,140,133,147,132,131,135,134,156,34.461115,201908
2,さいたま緑店,201909,201908,0.0,0.0,1068,880,188,789,279,...,99,97,108,87,78,98,101,111,34.422727,201908
3,さいたま西店,201909,201908,0.0,0.0,1225,1012,213,917,308,...,113,111,97,104,117,108,112,124,34.241107,201908
4,つくば店,201909,201908,0.0,0.0,1304,1056,248,1008,296,...,111,115,117,104,126,128,109,125,33.985795,201908

In [ ]:
del ml_data["target_year_month"]
del ml_data["one_month_ago"]
ml_data.head()

,store_name,y_weekday,y_weekend,order,order_fin,order_cancel,order_delivery,order_takeout,order_weekday,order_weekend,...,order_time_14,order_time_15,order_time_16,order_time_17,order_time_18,order_time_19,order_time_20,order_time_21,delta_avg,year_month
0,あきる野店,0.0,1.0,1178,967,211,876,302,835,343,...,110,115,128,100,121,96,106,102,34.607032,201908
1,さいたま南店,0.0,1.0,1550,1273,277,1148,402,1101,449,...,140,133,147,132,131,135,134,156,34.461115,201908
2,さいたま緑店,0.0,0.0,1068,880,188,789,279,759,309,...,99,97,108,87,78,98,101,111,34.422727,201908
3,さいたま西店,0.0,0.0,1225,1012,213,917,308,866,359,...,113,111,97,104,117,108,112,124,34.241107,201908
4,つくば店,0.0,0.0,1304,1056,248,1008,296,925,379,...,111,115,117,104,126,128,109,125,33.985795,201908

##Let's check the data for machine learning and output it!

In [ ]:
ml_data.isna().sum()

store_name        0
y_weekday         0
y_weekend         0
order             0
order_fin         0
order_cancel      0
order_delivery    0
order_takeout     0
order_weekday     0
order_weekend     0
order_time_11     0
order_time_12     0
order_time_13     0
order_time_14     0
order_time_15     0
order_time_16     0
order_time_17     0
order_time_18     0
order_time_19     0
order_time_20     0
order_time_21     0
delta_avg         0
year_month        0
dtype: int64

In [ ]:
display(ml_data.groupby('y_weekday').count()[['store_name']])
display(ml_data.groupby('y_weekend').count()[['store_name']])

           store_name
y_weekday
0.0              1283
1.0              1642

           store_name
y_weekend
0.0              1496
1.0              1429

In [ ]:
ml_data.to_csv(os.path.join(output_dir, 'ml_base_data.csv'), index=False)

#Build a machine learning model
The task set up is to provide information to support a measure to reduce the time to serve ramen. Therefore, I decided to create a model to predict whether the number of orders would increase or decrease next month based on this month's order data.

In [ ]:
import pandas as pd
ml_data_file = 'ml_base_data.csv'
ml_data = pd.read_csv(os.path.join(input_dir, ml_data_file))
ml_data.head(3)

,store_name,y_weekday,y_weekend,order,order_fin,order_cancel,order_delivery,order_takeout,order_weekday,order_weekend,...,order_time_14,order_time_15,order_time_16,order_time_17,order_time_18,order_time_19,order_time_20,order_time_21,delta_avg,year_month
0,あきる野店,0.0,1.0,1178,967,211,876,302,835,343,...,110,115,128,100,121,96,106,102,34.607032,201908
1,さいたま南店,0.0,1.0,1550,1273,277,1148,402,1101,449,...,140,133,147,132,131,135,134,156,34.461115,201908
2,さいたま緑店,0.0,0.0,1068,880,188,789,279,759,309,...,99,97,108,87,78,98,101,111,34.422727,201908

##Let's deal with categorical variables!

In [ ]:
category_data = pd.get_dummies(ml_data['store_name'], prefix='store' ,prefix_sep='_')
display(category_data.head(3))

,store_あきる野店,store_さいたま南店,store_さいたま緑店,store_さいたま西店,store_つくば店,store_三浦店,store_三鷹店,store_上尾店,store_上野店,store_世田谷店,...,store_駒込店,store_高円寺店,store_高島平店,store_高崎店,store_高座店,store_高津店,store_高田馬場店,store_鴻巣店,store_鶴見店,store_麻生店
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
del category_data['store_麻生店']
del ml_data['year_month']
del ml_data['store_name']
ml_data = pd.concat([ml_data, category_data],axis=1)
ml_data.columns

Index(['y_weekday', 'y_weekend', 'order', 'order_fin', 'order_cancel',
       'order_delivery', 'order_takeout', 'order_weekday', 'order_weekend',
       'order_time_11',
       ...
       'store_駒沢店', 'store_駒込店', 'store_高円寺店', 'store_高島平店', 'store_高崎店',
       'store_高座店', 'store_高津店', 'store_高田馬場店', 'store_鴻巣店', 'store_鶴見店'],
      dtype='object', length=215)

##Let's split training data and test data

In [ ]:
from sklearn.model_selection import train_test_split
train_data, test_data = train_test_split(ml_data, test_size=0.3, random_state=0)
print(f'Train：{len(train_data)}件/ Test:{len(test_data)}')
print(f'Weekday Train0：{len(train_data.loc[train_data["y_weekday"]==0])}件')
print(f'Weekday Train1：{len(train_data.loc[train_data["y_weekday"]==1])}件')
print(f'Weekday Test0：{len(test_data.loc[test_data["y_weekday"]==0])}件')
print(f'Weekday Test1：{len(test_data.loc[test_data["y_weekday"]==1])}件')

print(f'Weekend Train0：{len(train_data.loc[train_data["y_weekend"]==0])}件')
print(f'Weekend Train1：{len(train_data.loc[train_data["y_weekend"]==1])}件')
print(f'Weekend Test0：{len(test_data.loc[test_data["y_weekend"]==0])}件')
print(f'Weekend Test1：{len(test_data.loc[test_data["y_weekend"]==1])}件')

Train：2047件/ Test:878
Weekday Train0：919件
Weekday Train1：1128件
Weekday Test0：364件
Weekday Test1：514件
Weekend Train0：1029件
Weekend Train1：1018件
Weekend Test0：467件
Weekend Test1：411件

##Let's build a model!

In [ ]:
X_cols = list(train_data.columns)
X_cols.remove('y_weekday')
X_cols.remove('y_weekend')
target_y = 'y_weekday'
y_train = train_data[target_y]
X_train = train_data[X_cols]
y_test = test_data[target_y]
X_test = test_data[X_cols]
display(y_train.head(3))
display(X_train.head(3))

2494    1.0
261     1.0
1773    0.0
Name: y_weekday, dtype: float64

,order,order_fin,order_cancel,order_delivery,order_takeout,order_weekday,order_weekend,order_time_11,order_time_12,order_time_13,...,store_駒沢店,store_駒込店,store_高円寺店,store_高島平店,store_高崎店,store_高座店,store_高津店,store_高田馬場店,store_鴻巣店,store_鶴見店
2494,1321,1097,224,984,337,881,440,111,121,117,...,0,0,0,0,0,0,0,0,0,0
261,1080,879,201,771,309,794,286,93,100,113,...,0,0,0,0,0,0,0,0,0,0
1773,1491,1212,279,1094,397,1104,387,148,143,130,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(random_state=0)
model.fit(X_train, y_train)

DecisionTreeClassifier(random_state=0)

##Let's perform evaluation

In [ ]:
y_pred_train = model.predict(X_train)
y_pred_test = model.predict(X_test)
y_pred_test

array([0., 1., 0., 0., 1., 1., 0., 1., 1., 0., 0., 0., 1., 0., 1., 0., 1.,
       1., 0., 1., 1., 1., 1., 0., 0., 1., 1., 1., 1., 0., 0., 1., 1., 0.,
       0., 1., 1., 1., 1., 1., 1., 0., 0., 1., 1., 0., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 0., 1., 0., 0., 0., 1., 0.,
       0., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 0., 0., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 0., 0., 0., 0., 0., 1., 1., 0., 1., 1.,
       1., 0., 0., 0., 0., 1., 1., 0., 0., 1., 1., 0., 1., 1., 1., 0., 0.,
       0., 1., 0., 1., 1., 0., 1., 1., 1., 0., 0., 0., 0., 0., 1., 1., 0.,
       1., 0., 0., 1., 1., 0., 1., 1., 1., 0., 1., 1., 0., 1., 0., 1., 1.,
       1., 0., 1., 1., 0., 1., 0., 1., 0., 0., 1., 1., 1., 0., 0., 0., 1.,
       1., 1., 0., 1., 1., 0., 0., 0., 0., 0., 1., 1., 1., 1., 0., 1., 0.,
       0., 0., 1., 0., 1., 0., 0., 1., 1., 0., 1., 1., 1., 1., 1., 0., 1.,
       0., 0., 0., 1., 0., 1., 1., 1., 0., 1., 1., 0., 0., 1., 1., 1., 1.,
       0., 1., 1., 0., 1., 1., 0., 1., 1., 0., 0., 0., 1., 0., 1., 0., 1.,
       0., 0., 0., 0., 0., 1., 1., 0., 0., 1., 0., 1., 1., 0., 1., 0., 0.,
       0., 1., 0., 1., 1., 1., 0., 1., 1., 1., 0., 1., 0., 1., 1., 0., 1.,
       1., 1., 0., 1., 0., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 0.,
       1., 1., 0., 1., 0., 0., 1., 1., 0., 0., 1., 0., 1., 0., 0., 1., 1.,
       1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 0., 0., 1., 0., 1., 1., 1.,
       1., 0., 0., 1., 1., 1., 0., 1., 1., 0., 1., 1., 1., 1., 1., 1., 0.,
       1., 1., 1., 0., 0., 1., 0., 1., 0., 1., 0., 1., 0., 0., 1., 1., 0.,
       0., 1., 0., 1., 1., 1., 1., 1., 0., 0., 0., 1., 1., 0., 0., 0., 1.,
       0., 0., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 0., 0., 1., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 0., 1., 1.,
       1., 1., 0., 0., 1., 1., 0., 0., 1., 1., 1., 1., 0., 1., 0., 1., 1.,
       1., 1., 0., 1., 0., 0., 0., 1., 1., 1., 1., 0., 0., 0., 1., 1., 1.,
       0., 0., 1., 0., 1., 1., 0., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1.,
       1., 1., 0., 0., 0., 1., 1., 0., 1., 1., 1., 0., 0., 0., 1., 1., 0.,
       1., 1., 0., 1., 0., 0., 0., 1., 0., 1., 0., 0., 1., 1., 0., 0., 1.,
       0., 0., 1., 1., 0., 1., 0., 0., 0., 1., 0., 0., 1., 1., 0., 1., 1.,
       0., 1., 1., 1., 1., 0., 0., 1., 0., 1., 1., 1., 0., 0., 1., 1., 1.,
       1., 0., 1., 1., 1., 1., 0., 1., 1., 1., 1., 0., 0., 0., 1., 1., 0.,
       0., 1., 1., 1., 0., 1., 0., 1., 1., 0., 0., 0., 0., 1., 1., 0., 0.,
       0., 1., 1., 1., 1., 0., 0., 1., 1., 0., 0., 0., 1., 0., 1., 0., 1.,
       0., 1., 1., 0., 1., 0., 0., 0., 1., 0., 1., 0., 1., 0., 0., 0., 0.,
       1., 1., 1., 1., 0., 0., 1., 0., 1., 0., 1., 0., 1., 0., 1., 0., 1.,
       1., 0., 0., 1., 1., 1., 0., 0., 1., 1., 1., 1., 1., 1., 0., 1., 1.,
       1., 0., 1., 1., 0., 1., 1., 1., 0., 1., 0., 0., 1., 0., 0., 1., 0.,
       1., 1., 0., 0., 1., 0., 1., 1., 0., 1., 1., 1., 1., 1., 1., 0., 1.,
       1., 1., 1., 1., 0., 0., 1., 0., 1., 0., 0., 0., 1., 0., 1., 0., 1.,
       1., 1., 1., 0., 1., 0., 1., 1., 1., 0., 1., 1., 0., 0., 1., 1., 1.,
       0., 0., 1., 1., 0., 1., 1., 1., 1., 0., 0., 0., 0., 1., 1., 1., 1.,
       0., 0., 0., 1., 1., 1., 1., 1., 0., 0., 1., 1., 1., 1., 1., 0., 1.,
       0., 1., 1., 1., 0., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0.,
       1., 1., 0., 1., 0., 1., 1., 1., 0., 0., 1., 1., 0., 1., 1., 1., 0.,
       0., 1., 1., 1., 0., 0., 1., 1., 1., 0., 0., 0., 1., 1., 1., 1., 0.,
       0., 0., 1., 0., 0., 0., 0., 0., 1., 1., 1., 0., 0., 1., 1., 0., 0.,
       1., 0., 1., 1., 0., 1., 0., 0., 0., 0., 0., 0., 1., 1., 1., 1., 0.,
       1., 1., 1., 0., 0., 1., 0., 0., 0., 0., 0., 1., 1., 1., 0., 0., 0.,
       0., 0., 1., 1., 0., 1., 0., 1., 1., 0., 1., 1., 1., 0., 0., 1., 0.,
       0., 0., 1., 1., 1., 0., 1., 0., 1., 0., 1., 1., 1., 0., 1., 0., 1.,
       1., 0., 1., 1., 1., 0., 0., 0., 0., 1., 0.])

In [ ]:
from sklearn.metrics import accuracy_score, f1_score, recall_score, precision_score,confusion_matrix
acc_train = accuracy_score(y_train, y_pred_train)
acc_test = accuracy_score(y_test, y_pred_test)
f1_train = f1_score(y_train, y_pred_train)
f1_test = f1_score(y_test, y_pred_test)
recall_train = recall_score(y_train, y_pred_train)
recall_test = recall_score(y_test, y_pred_test)
precision_train = precision_score(y_train, y_pred_train)
precision_test = precision_score(y_test, y_pred_test)
print(f'【Accuracy】Train：{round(acc_train,2)} Test：{round(acc_test, 2)}')
print(f'【F1】Train：{round(f1_train,2)} Test：{round(f1_test, 2)}')
print(f'【Recall】Train：{round(recall_train,2)} Test：{round(recall_test, 2)}')
print(f'【Precision】Train：{round(precision_train,2)} Test：{round(precision_test, 2)}')

【Accuracy】Train：1.0 Test：0.77
【F1】Train：1.0 Test：0.8
【Recall】Train：1.0 Test：0.8
【Precision】Train：1.0 Test：0.8

In [ ]:
print(confusion_matrix(y_train, y_pred_train))
print(confusion_matrix(y_test, y_pred_test))

[[ 919    0]
 [   0 1128]]
[[263 101]
 [105 409]]

In [ ]:
tn_train, fp_train, fn_train, tp_train = confusion_matrix(y_train, y_pred_train).ravel()
tn_test, fp_test, fn_test, tp_test = confusion_matrix(y_test, y_pred_test).ravel()
print(f'【Confusion Matrix】Train：{tn_train}, {fp_train}, {fn_train}, {tp_train}')
print(f'【Confusion Matrix】Test：{tn_test}, {fp_test}, {fn_test}, {tp_test}')

【Confusion Matrix】Train：919, 0, 0, 1128
【Confusion Matrix】Test：263, 101, 105, 409

In [ ]:
score_train = pd.DataFrame({'DataCategory':['train'],'acc':[acc_train],'f1':[f1_train], 
                            'recall':[recall_train],'precision':[precision_train],
                            'tp':[tp_train],'fn':[fn_train],'fp':[fp_train],'tn':[tn_train]})
score_test = pd.DataFrame({'DataCategory':['test'], 'acc':[acc_test],'f1':[f1_test], 
                            'recall':[recall_test],'precision':[precision_test],
                            'tp':[tp_test],'fn':[fn_test],'fp':[fp_test],'tn':[tn_test]})
score = pd.concat([score_train,score_test], ignore_index=True)
score

  DataCategory       acc        f1   recall  precision    tp   fn   fp   tn
0        train  1.000000  1.000000  1.00000   1.000000  1128    0    0  919
1         test  0.765376  0.798828  0.79572   0.801961   409  105  101  263

##Let's check the importance of the model

In [ ]:
importance = pd.DataFrame({'cols':X_train.columns, 'importance':model.feature_importances_})
importance = importance.sort_values('importance', ascending=False)
importance.head(10)

              cols  importance
5    order_weekday    0.329670
6    order_weekend    0.278432
4    order_takeout    0.034665
0            order    0.034105
3   order_delivery    0.028900
8    order_time_12    0.027286
15   order_time_19    0.025719
17   order_time_21    0.025712
11   order_time_15    0.025150
14   order_time_18    0.022832

##Functionalize the process from model construction to evaluation

In [ ]:
def make_model_and_eval(model, X_train, X_test, y_train, y_test):
    model.fit(X_train, y_train)
    y_pred_train = model.predict(X_train)
    y_pred_test = model.predict(X_test)
    
    acc_train = accuracy_score(y_train, y_pred_train)
    acc_test = accuracy_score(y_test, y_pred_test)
    f1_train = f1_score(y_train, y_pred_train)
    f1_test = f1_score(y_test, y_pred_test)
    recall_train = recall_score(y_train, y_pred_train)
    recall_test = recall_score(y_test, y_pred_test)
    precision_train = precision_score(y_train, y_pred_train)
    precision_test = precision_score(y_test, y_pred_test)
    tn_train, fp_train, fn_train, tp_train = confusion_matrix(y_train, y_pred_train).ravel()
    tn_test, fp_test, fn_test, tp_test = confusion_matrix(y_test, y_pred_test).ravel()
    score_train = pd.DataFrame({'DataCategory':['train'],'acc':[acc_train],'f1':[f1_train], 
                                'recall':[recall_train],'precision':[precision_train],
                                'tp':[tp_train],'fn':[fn_train],'fp':[fp_train],'tn':[tn_train]})
    score_test = pd.DataFrame({'DataCategory':['test'], 'acc':[acc_test],'f1':[f1_test], 
                                'recall':[recall_test],'precision':[precision_test],
                                'tp':[tp_test],'fn':[fn_test],'fp':[fp_test],'tn':[tn_test]})
    score = pd.concat([score_train,score_test], ignore_index=True)
    importance = pd.DataFrame({'cols':X_train.columns, 'importance':model.feature_importances_})
    importance = importance.sort_values('importance', ascending=False)
    cols = pd.DataFrame({'X_cols':X_train.columns})
    display(score)
    return score, importance, model, cols

In [ ]:
model = DecisionTreeClassifier(random_state=0)
score, importance, model, cols = make_model_and_eval(model, X_train, X_test, y_train, y_test)

  DataCategory       acc        f1   recall  precision    tp   fn   fp   tn
0        train  1.000000  1.000000  1.00000   1.000000  1128    0    0  919
1         test  0.765376  0.798828  0.79572   0.801961   409  105  101  263

##Let's output model files and evaluation results

In [ ]:
import datetime
now = datetime.datetime.now().strftime("%Y%m%d%H%M%S")
target_output_dir_name = 'results_' + now
target_output_dir = os.path.join(output_dir, target_output_dir_name)
os.makedirs(target_output_dir, exist_ok=True)
print(target_output_dir)

data/1_output/results_20230518044813

In [ ]:
score_name = 'score.csv'
importance_name = 'importance.csv'
cols_name = 'X_cols.csv'
model_nema = 'model.pickle'
score_path = os.path.join(target_output_dir, score_name)
importance_path = os.path.join(target_output_dir, importance_name)
cols_path = os.path.join(target_output_dir, cols_name)
model_path = os.path.join(target_output_dir, model_nema)

score.to_csv(score_path, index=False)
importance.to_csv(importance_path, index=False)
cols.to_csv(cols_path, index=False)
import pickle
with open(model_path, mode='wb') as f:
    pickle.dump(model, f, protocol=2)

##Let's extend the algorithm and perform multi-faceted evaluation!

In [ ]:
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier

models = {'tree': DecisionTreeClassifier(random_state=0), 
          'RandomForest':RandomForestClassifier(random_state=0),
          'GradientBoostingClassifier':GradientBoostingClassifier(random_state=0)}

now = datetime.datetime.now().strftime("%Y%m%d%H%M%S")
target_output_dir_name = 'results_' + now
target_output_dir = os.path.join(output_dir, target_output_dir_name)
os.makedirs(target_output_dir, exist_ok=True)
print(target_output_dir)

score_all = []
importance_all = []
for model_name, model in models.items():
    print(model_name)
    score, importance, model, cols = make_model_and_eval(model, X_train, X_test, y_train, y_test)
    score['model_name'] = model_name
    importance['model_name'] = model_name
    
    model_nema = f'model_{model_name}.pickle'
    model_path = os.path.join(target_output_dir, model_nema)
    with open(model_path, mode='wb') as f:
        pickle.dump(model, f, protocol=2)
    score_all.append(score)
    importance_all.append(importance)
score_all = pd.concat(score_all, ignore_index=True)
importance_all = pd.concat(importance_all, ignore_index=True)
cols = pd.DataFrame({'X_cols':X_train.columns})

score_name = 'score.csv'
importance_name = 'importance.csv'
cols_name = 'X_cols.csv'
score_path = os.path.join(target_output_dir, score_name)
importance_path = os.path.join(target_output_dir, importance_name)
cols_path = os.path.join(target_output_dir, cols_name)
score_all.to_csv(score_path, index=False)
importance_all.to_csv(importance_path, index=False)
cols.to_csv(cols_path, index=False)

data/1_output/results_20230518044814
tree

  DataCategory       acc        f1   recall  precision    tp   fn   fp   tn
0        train  1.000000  1.000000  1.00000   1.000000  1128    0    0  919
1         test  0.765376  0.798828  0.79572   0.801961   409  105  101  263

RandomForest

  DataCategory       acc        f1    recall  precision    tp   fn   fp   tn
0        train  1.000000  1.000000  1.000000   1.000000  1128    0    0  919
1         test  0.747153  0.784884  0.787938   0.781853   405  109  113  251

GradientBoostingClassifier

  DataCategory       acc        f1    recall  precision   tp   fn   fp   tn
0        train  0.827064  0.843224  0.843972   0.842478  952  176  178  741
1         test  0.773349  0.803165  0.789883   0.816901  406  108   91  273

In [ ]:
import lightgbm as lgb
import pandas as pd
X_cols = list(train_data.columns)
X_cols.remove('y_weekday')
X_cols.remove('y_weekend')
targets_y = ['y_weekday', 'y_weekend']

now = datetime.datetime.now().strftime("%Y%m%d%H%M%S")
target_output_dir_name = 'results_' + now
target_output_dir = os.path.join(output_dir, target_output_dir_name)
os.makedirs(target_output_dir,exist_ok=True)
print(target_output_dir)

score_all = []
importance_all = []

for target_y in targets_y:
    y_train = train_data[target_y]
    X_train = train_data[X_cols]
    y_test = test_data[target_y]
    X_test = test_data[X_cols]
    
    models = {'tree': DecisionTreeClassifier(random_state=0), 
              'RandomForest':RandomForestClassifier(random_state=0),
              'GradientBoosting':GradientBoostingClassifier(random_state=0),
              'LightGBM': lgb.LGBMClassifier(random_state=0)}

    for model_name, model in models.items():
        print(model_name)
        score, importance, model, cols = make_model_and_eval(model, X_train, X_test, y_train, y_test)
        score['model_name'] = model_name
        importance['model_name'] = model_name
        score['model_target'] = target_y
        importance['model_target'] = target_y

        model_nema = f'model_{target_y}_{model_name}.pickle'
        model_path = os.path.join(target_output_dir, model_nema)
        with open(model_path, mode='wb') as f:
            pickle.dump(model, f, protocol=2)
        score_all.append(score)
        importance_all.append(importance)
        
score_all = pd.concat(score_all, ignore_index=True)
importance_all = pd.concat(importance_all, ignore_index=True)
cols = pd.DataFrame({'X_cols':X_train.columns})

score_name = 'score.csv'
importance_name = 'importance.csv'
cols_name = 'X_cols.csv'
score_path = os.path.join(target_output_dir, score_name)
importance_path = os.path.join(target_output_dir, importance_name)
cols_path = os.path.join(target_output_dir, cols_name)
score_all.to_csv(score_path, index=False)
importance_all.to_csv(importance_path, index=False)
cols.to_csv(cols_path, index=False)

data/1_output/results_20230518044816
tree

  DataCategory       acc        f1   recall  precision    tp   fn   fp   tn
0        train  1.000000  1.000000  1.00000   1.000000  1128    0    0  919
1         test  0.765376  0.798828  0.79572   0.801961   409  105  101  263

RandomForest

  DataCategory       acc        f1    recall  precision    tp   fn   fp   tn
0        train  1.000000  1.000000  1.000000   1.000000  1128    0    0  919
1         test  0.747153  0.784884  0.787938   0.781853   405  109  113  251

GradientBoosting

  DataCategory       acc        f1    recall  precision   tp   fn   fp   tn
0        train  0.827064  0.843224  0.843972   0.842478  952  176  178  741
1         test  0.773349  0.803165  0.789883   0.816901  406  108   91  273

LightGBM

  DataCategory       acc        f1    recall  precision    tp   fn   fp   tn
0        train  0.998046  0.998224  0.996454   1.000000  1124    4    0  919
1         test  0.759681  0.794146  0.791829   0.796477   407  107  104  260

tree

  DataCategory       acc        f1    recall  precision    tp   fn   fp    tn
0        train  1.000000  1.000000  1.000000    1.00000  1018    0    0  1029
1         test  0.710706  0.699764  0.720195    0.68046   296  115  139   328

RandomForest

  DataCategory      acc        f1    recall  precision    tp  fn  fp    tn
0        train  1.00000  1.000000  1.000000   1.000000  1018   0   0  1029
1         test  0.81549  0.798507  0.781022   0.816794   321  90  72   395

GradientBoosting

  DataCategory       acc        f1    recall  precision   tp   fn   fp   tn
0        train  0.851490  0.846774  0.825147   0.869565  840  178  126  903
1         test  0.835991  0.822222  0.810219   0.834586  333   78   66  401

LightGBM

  DataCategory       acc        f1    recall  precision    tp  fn  fp    tn
0        train  0.997557  0.997541  0.996071   0.999015  1014   4   1  1028
1         test  0.816629  0.797992  0.773723   0.823834   318  93  68   399

In [ ]:
score_all.loc[score_all['model_target']=='y_weekday']

,DataCategory,acc,f1,recall,precision,tp,fn,fp,tn,model_name,model_target
0,train,1.000000,1.000000,1.000000,1.000000,1128,0,0,919,tree,y_weekday
1,test,0.765376,0.798828,0.795720,0.801961,409,105,101,263,tree,y_weekday
2,train,1.000000,1.000000,1.000000,1.000000,1128,0,0,919,RandomForest,y_weekday
3,test,0.747153,0.784884,0.787938,0.781853,405,109,113,251,RandomForest,y_weekday
4,train,0.827064,0.843224,0.843972,0.842478,952,176,178,741,GradientBoosting,y_weekday
5,test,0.773349,0.803165,0.789883,0.816901,406,108,91,273,GradientBoosting,y_weekday
6,train,0.998046,0.998224,0.996454,1.000000,1124,4,0,919,LightGBM,y_weekday
7,test,0.759681,0.794146,0.791829,0.796477,407,107,104,260,LightGBM,y_weekday

In [ ]:
score_all.loc[score_all['model_target']=='y_weekend']

,DataCategory,acc,f1,recall,precision,tp,fn,fp,tn,model_name,model_target
8,train,1.000000,1.000000,1.000000,1.000000,1018,0,0,1029,tree,y_weekend
9,test,0.710706,0.699764,0.720195,0.680460,296,115,139,328,tree,y_weekend
10,train,1.000000,1.000000,1.000000,1.000000,1018,0,0,1029,RandomForest,y_weekend
11,test,0.815490,0.798507,0.781022,0.816794,321,90,72,395,RandomForest,y_weekend
12,train,0.851490,0.846774,0.825147,0.869565,840,178,126,903,GradientBoosting,y_weekend
13,test,0.835991,0.822222,0.810219,0.834586,333,78,66,401,GradientBoosting,y_weekend
14,train,0.997557,0.997541,0.996071,0.999015,1014,4,1,1028,LightGBM,y_weekend
15,test,0.816629,0.797992,0.773723,0.823834,318,93,68,399,LightGBM,y_weekend

In [ ]:
importance_all.loc[(importance_all['model_target']=='y_weekday')&
                   (importance_all['model_name']=='GradientBoosting')].head(10)

               cols  importance        model_name model_target
426   order_weekday    0.463638  GradientBoosting    y_weekday
427   order_weekend    0.403520  GradientBoosting    y_weekday
428           order    0.019397  GradientBoosting    y_weekday
429    order_cancel    0.011333  GradientBoosting    y_weekday
430       delta_avg    0.011181  GradientBoosting    y_weekday
431   order_takeout    0.011033  GradientBoosting    y_weekday
432       order_fin    0.010370  GradientBoosting    y_weekday
433  order_delivery    0.009099  GradientBoosting    y_weekday
434   order_time_14    0.008449  GradientBoosting    y_weekday
435   order_time_16    0.006629  GradientBoosting    y_weekday

In [ ]:

# Assuming you have a DataFrame named 'importance_all'

# Filter the DataFrame based on the specified conditions
importance_all.loc[
    (importance_all['model_target'] == 'y_weekday') &
    (importance_all['model_name'] == 'LightGBM')].head(10)

               cols  importance model_name model_target
639   order_weekend       537.0   LightGBM    y_weekday
640   order_weekday       396.0   LightGBM    y_weekday
641   order_takeout       200.0   LightGBM    y_weekday
642  order_delivery       162.0   LightGBM    y_weekday
643       delta_avg       155.0   LightGBM    y_weekday
644    order_cancel       146.0   LightGBM    y_weekday
645           order       139.0   LightGBM    y_weekday
646   order_time_20       127.0   LightGBM    y_weekday
647   order_time_12       119.0   LightGBM    y_weekday
648   order_time_19       116.0   LightGBM    y_weekday

##to Next 

In fact, there are still some areas to be considered, such as whether only the past month should be used as an explanatory variable, and whether the number of orders for Kyanseur should be counted for both weekdays and holidays.